include ../field/field.pug
include ../button/button.pug

mixin dropdown(dropdown)
  if dropdown.expanded
    .dropdown.dropdown_expanded
      case dropdown.mode
        when 'date'
          +field({ value: dropdown.value, type: 'date' })
        when 'filter'
          +field({ value: dropdown.value, disabled: true })
        default
          +field({ value: dropdown.value })
      .dropdown__menu
        ul.dropdown__list
          each item, index in dropdown.list
            li.dropdown__item
              p.dropdown__item_name= item.name
              .dropdown__item_counter
                if item.count
                  button.dropdown__item_btn= '-'
                  p.dropdown__item_number= item.count
                  button.dropdown__item_btn= '+'
                else
                  button.dropdown__item_btn.dropdown__item_btn_disabled(disabled=true)= '-'
                  p.dropdown__item_number= '0'
                  button.dropdown__item_btn= '+'
        if dropdown.apply
          if dropdown.clear
            .dropdown__control.dropdown__control_clear
              +button({ text: 'очистить', style: 'link', hover: true, className: 'dropdown__clear' })
              +button({ text: 'применить', style: 'link', className: 'dropdown__apply' })
          else
            .dropdown__control
              +button({ text: 'применить', style: 'link', className: 'dropdown__apply'  })
  else
    if dropdown.demo
      .dropdown.dropdown_hover
        case dropdown.mode
          when 'date'
            +field({ value: dropdown.value, type: 'date' })
          when 'filter'
            +field({ value: dropdown.value, disabled: true })
          default
            +field({ value: dropdown.value })
    else
      case dropdown.mode
        when 'date'
          .dropdown(class=`datepicker_btn` id=`datepicker_btn${dropdown.datepicker}`)
            +field({ value: dropdown.value, type: 'date', id: `datepicker${dropdown.datepicker}_value${dropdown.valueID}`})
        when 'filter'
          .dropdown
            +field({ value: dropdown.value, disabled: true })
        default
          .dropdown
            +field({ value: dropdown.value })