include ../text-field/text-field.pug
include ../dropdown-panel/dropdown-panel.pug

//-
  options.value
  options.list [{name, count}]
  options.isExpanded
  options.isFilter

mixin dropdown(options = {})
  - const blockName = "dropdown"
  - fieldOptions = {
  -   name: options.name,
  -   type: options.type,
  -   value: options.value,
  -   placeholder: options.placeholder,
  -   isHovered: options.isHovered,
  -   isFocused: options.isFocused,
  -   isFilter: options.isFilter,
  -   dateFrom: options.dateFrom,
  -   dateTo: options.dateTo,
  -   isReadonly: options.type !== 'date',
  -   withBorder: false,
  -   withRightSpace: true,
  - }

  DIV(
    class=blockName
    class=`js-${blockName}`
    class=options.isExpanded ? `${blockName}_expanded` : ""
  )
    +text-field(fieldOptions)
    INPUT(
      class=`${blockName}__check`
      class=`js-${blockName}__check`
      id=`${blockName}-${options.name}-check`
      type="checkbox"
      checked=options.isExpanded ? true : false
    )
    LABEL(
      class=`${blockName}__expand-more`
      for=`${blockName}-${options.name}-check`
    )
    DIV(
      class=`${blockName}__panel`
      class=!options.list ? `${blockName}__panel_independent` : ""
      class=options.alignPanelRight ? `${blockName}__panel_align_right` : ""
    )
      if options.list
        +dropdown-panel({ 
          list: options.list, 
          withControl: options.withControl,
        })
      else
        block