include ../text-field/text-field.pug
include ../button/button.pug
include ../dropdown-control/dropdown-control.pug

//-
  options.id
  options.value
  options.list [{name, count}]
  options.isExpanded
  options.isFilter

mixin dropdown(options)
  - const blockName = "dropdown"
  if !options
    - options = {}
  - fieldOptions = {
  -   id: `${options.id}-field`,
  -   name: options.name,
  -   type: options.type,
  -   value: options.value,
  -   placeholder: options.placeholder,
  -   isHovered: options.isHovered,
  -   isFocused: options.isFocused,
  -   isFilter: options.isFilter,
  -   withBorder: false,
  - }

  DIV(
    class=blockName
    id=options.id
    class=options.isExpanded ? `${blockName}_expanded` : ""
  )
    +text-field(fieldOptions)
    INPUT(
      class=`${blockName}__check`
      id=`${options.id}-check`
      type="checkbox"
      checked=options.isExpanded ? true : false
    )
    LABEL(
      class=`${blockName}__expand-more`
      class="material-icons"
      for=`${options.id}-check`
    )
    DIV(
      class=`${blockName}__panel`
      class=!options.list ? `${blockName}__panel_independent` : ""
    )
      if options.list
        +dropdown-panel({ 
          id: options.id, 
          list: options.list, 
          withControl: options.withControl,
        })
      else
        block

//- 

mixin dropdown-panel(options)
  - const blockName = "dropdown-panel"
  if !options
    - options = {}

  DIV(class=blockName)
    DIV(class=`${blockName}__list`)
      +dropdown-list(options.list)
    if options.withControl
      - let isClear = true
      if options.list
        each item in options.list
          if item.count
            if item.count !== 0
              - isClear = false
      DIV(class=`${blockName}__control`)
        +dropdown-control({ id: options.id, isClear: isClear })

//- 

mixin dropdown-list(list)
  - const blockName = "dropdown-list"
  if !list
    - list = []

  UL(
    class=blockName
  )
    each item, index in list
      LI(
        class=`${blockName}__item`
      )
        +dropdown-item(item)

//- 

mixin dropdown-item(options)
  - const blockName = "dropdown-item"
  DIV(
    class=blockName
  )
    P(
      class=`${blockName}__name`
    )=options.name
    DIV(
      class=`${blockName}__counter`
    )
      +dropdown-counter(options.count)

//- 

mixin dropdown-counter(count)
  - const blockName = "dropdown-counter"
  DIV(
    class=blockName
  )
    BUTTON(
      class=`${blockName}__element`
      class=`${blockName}__button`
      class=!count ? "dropdown-counter__button_disabled" : ""
      disabled=!count ? true : false
    )="-"
    P(
      class=`${blockName}__element`
      class=`${blockName}__count`
    )=count ? count : "0"
    BUTTON(
      class=`${blockName}__element`
      class=`${blockName}__button`
    )="+"