mixin pagination(options = {})
  - const blockName = "pagination";
  - const { lastPage, description } = options;

  DIV(class=blockName)
    DIV(class=`${blockName}__items`)
      each value, index in ["1", "2", "3", "...", lastPage]
        - const isFirst = index === 0;
        BUTTON(
          class=`${blockName}__item`,
          class=isFirst ? `${blockName}__item_current` : ""
        )
          SPAN(class=`${blockName}__value`)= value
      BUTTON(
        class=`${blockName}__item`,
        class=`${blockName}__item_next`
      )= "arrow_forward"
    P(class=`${blockName}__description`)= description
