//-
  options.id
  options.lastPage
  options.description

mixin pagination(options)
  if !options
    - options = {}

  .pagination
    .pagination__items
      BUTTON.pagination__item.pagination__item_current
        P.pagination__value= '1'
      BUTTON.pagination__item
        P.pagination__value= '2'
      BUTTON.pagination__item
        P.pagination__value= '3'
      BUTTON.pagination__item
        P.pagination__value= '...'
      BUTTON.pagination__item
        P.pagination__value= options.lastPage
      BUTTON.pagination__item.pagination__item_next.material-icons='arrow_forward'
    P.pagination__description= options.description