include ../form-section/form-section.pug
include ../form-set/form-set.pug
include ../text-field/text-field.pug
include ../dropdown/dropdown.pug
include ../button/button.pug
include ../radio-group/radio-group.pug
include ../toggle/toggle.pug
include ../rate-button/rate-button.pug
include ../bill/bill.pug
include ../reviews-counter/reviews-counter.pug
include ../date-section/date-section.pug

//- 
  options.id
  options.options

mixin card-form(options)
  - const blockName = "card-form"
  if !options
    - options = {}
  FORM(class=blockName id=options.id)
    case options.for
      when "wishes"
        +card-form-wishes-content(blockName, options.id, options.options)
      when "check-in"
        +card-form-check-in-content(blockName, options.id)
      when "room"
        +card-form-room-content(blockName, options.id)
      when "log-in"
        +card-form-log-in-content(blockName, options.id)
      when "room-rate"
        +card-form-room-rate-content(options.id, options.options)

//- 

mixin card-form-wishes-content(blockName, id, options = {})
  SECTION(
    class=`${blockName}__section`
    class=`${blockName}__section_first`
  )
    +date-section({
      id: `${id}-date-section`,
      dateFrom: options.dateFrom,
      dateTo: options.dateTo,
      isCalendarArrivalExpanded: options.isCalendarArrivalExpanded,
      isCalendarArrivalDeparture: options.isCalendarArrivalDeparture,
      calendarArrivalDateActivate: options.calendarArrivalDateActivate,
      calendarDepartureDateActivate: options.calendarDepartureDateActivate,
    })
  SECTION(class=`${blockName}__section`)
    +form-section
      +form-set({ title: "Гости" })
        +dropdown({ id: `${id}-dropdown-guests`, value: "Сколько гостей" })
  SECTION(
    class=`${blockName}__section`
    class=`${blockName}__section_last`
  )
    +form-section
      +button({ id: `${id}-button-choose-number`, caption: "Подобрать номер" })

//- 

mixin card-form-check-in-content(blockName, id)
  SECTION(
    class=`${blockName}__section`
    class=`${blockName}__section_first`
  )
    +form-section
      +form-set({ isGrouped: true, isMarginNone: true })
        .form-set__element.form-set__element_margin_none
          +text-field({ id: `${id}-text-field-firstname`, placeholder: "Имя" })
        .form-set__element.form-set__element_indent-mid
          +text-field({ id: `${id}-text-field-lastname`, placeholder: "Фамилия" })
        .form-set__element.form-set__element_indent-mid
          +radio-group({
            id: `${id}-radio-sex`,
            options: [
              {label: "Мужчина", isChecked: true},
              {label: "Женщина"},
            ],
          })
  SECTION(
    class=`${blockName}__section`
    class=`${blockName}__section_rare_more`
  )
    +form-section
      +form-set({ title: "Дата рождения" })
        +text-field({
          id: `${id}-text-field-dob`,
          placeholder: "ДД.ММ.ГГГГ",
          isMasked: true,
        })
  SECTION(class=`${blockName}__section`)
    +form-section
      +form-set({ title: "Данные для входа в сервис", isGrouped: true, isMarginNone: true })
        .form-set__element
          +text-field({ id: `${id}-text-field-email`, placeholder: "Email" })
        .form-set__element.form-set__element_indent-mid
          +text-field({ id: `${id}-text-field-password`, placeholder: "Пароль" })
        .form-set__element.form-set__element_indent-mid
          +toggle({ id: `${id}-toggle-special`, label: "Получать спецпредложения" })
  SECTION(
    class=`${blockName}__section`
    class=`${blockName}__section_rare_more`
  )
    +form-section
      +button({ id: `${id}-button-pay`, caption: "Перейти к оплате" })
  SECTION(
    class=`${blockName}__section`
    class=`${blockName}__section_last`
  )
    +form-section
      +form-set({ isInlined: true, isGrouped: true, isMarginNone: true })
        .form-set__element.form-set__element_align-mid.form-set__element_growed
          DIV(class=`${blockName}__question`)="Уже есть аккаунт на Toxin"
        .form-set__element
          +button({ id: `${id}-button-in`, caption: "Войти", isWithArrow: false, isBorderOnly: true })

//- 

mixin card-form-room-content(blockName, id)
  SECTION(
    class=`${blockName}__section`
    class=`${blockName}__section_first`
  )
    +form-section({ isPaired: true })
      .form-section__set.form-section__set_first
        +form-set({ title: "Прибытие" })
          +dropdown({ id: `${id}-date-arrival-room`, type: "date", value: "2019-08-19" })
      .form-section__set
        +form-set({ title: "Выезд" })
          +dropdown({ id: `${id}-date-departure-room`, type: "date", value: "2019-08-23" })
  SECTION(class=`${blockName}__section`)
    +form-section
      +form-set({ title: "Гости" })
        +dropdown({ id: `${id}-dropdown-guests-room`, value: "3 гостя" })
  SECTION(class=`${blockName}__section`)
    +form-section 
      +bill({
        list: [
          { name: "9 990₽ х 4 суток", price: "39 960₽" },
          { name: "Сбор за услуги: скидка 2 179₽", price: "0₽", withInfo: true },
          { name: "Сбор за дополнительные услуги", price: "300₽", withInfo: true },
        ],
        total: "38 081₽",
      })
  SECTION(class=`${blockName}__section`)
    +form-section
      +button({ id: `${id}-button-book`, caption: "Забронировать" })

//- 

mixin card-form-log-in-content(blockName, id)
  SECTION(
    class=`${blockName}__section`
    class=`${blockName}__section_first`
  )
    +form-section
      +form-set({ isGrouped: true, isMarginNone: true })
        .form-set__element.form-set__element_margin_none
          +text-field({ id: `${id}-text-field-email-in`, placeholder: "Email" })
        .form-set__element.form-set__element_indent-mid
          +text-field({ id: `${id}-text-field-password-in`, placeholder: "Пароль" })
  SECTION(class=`${blockName}__section`)
    +form-section
      +button({ id: `${id}-button-log-in`, caption: "Войти" })
  SECTION(
    class=`${blockName}__section`
    class=`${blockName}__section_last`
  )
    +form-section
      +form-set({ isInlined: true, isGrouped: true, isMarginNone: true })
        .form-set__element.form-set__element_align-mid.form-set__element_growed
          DIV(class=`${blockName}__question`)="Нет аккаунта на Toxin?"
        .form-set__element
          +button({ id: `${id}-button-reg`, caption: "Создать", isWithArrow: false, isBorderOnly: true })

//- 
  options.rate
  options.reviews

mixin card-form-room-rate-content(id, options)
  if !options
    - options = {}
  +form-section
    +form-set({ isGrouped: true, isInlined: true, withLine: true, isAligned: true })
      .form-set__element
        +rate-button({ id: `${id}-card-form-rate`, value: options.rate })
      .form-set__element          
        +reviews-counter(options.reviews)