mixin rate-button(options = {})
  - const { value = 0, name } = options;
  - const set = [];
  - let i = 0;
  while i <= 5
    - set[i] = i <= value ? { isChecked: true } : { isChecked: false };
    - i = i + 1;

  - const blockName = "rate-button";
  DIV(class=blockName)
    each option, index in set
      - const isFirst = index === 0;
      - const isSecond = index === 1;
      INPUT(
        class=`${blockName}__box`,
        type='radio',
        id=`${blockName}-${name}-${index}`,
        name=name,
        value=option.value ? option.value : index,
        checked=option.isChecked
      )
      LABEL(
        for=`${blockName}-${name}-${index}`,
        class=`${blockName}__label`,
        class=option.isChecked ? `${blockName}__label_checked` : "",
        class=isFirst ? `${blockName}__label_first` : "",
        class=isSecond ? `${blockName}__label_second` : ""
      )= option.label
