mixin button(options = {})
  - const blockName = "button";
  -
    const { caption, isHovered, isBorderOnly, isTextOnly, withArrow, 
    isCompact, isNone, type } = options

  BUTTON(
    class=blockName,
    class=`js-${blockName}`,
    class=isHovered && ` ${blockName}_hovered`,
    class=isBorderOnly && ` ${blockName}_border-only`,
    class=isTextOnly && ` ${blockName}_text-only`,
    class=withArrow && ` ${blockName}_with-arrow`,
    class=isCompact && ` ${blockName}_compacted`,
    class=isNone && ` ${blockName}_none`,
    type=type ? type : "button"
  )
    SPAN(class=`${blockName}__caption`)= caption
