//-
  options.caption
  options.isHovered
  options.isBorderOnly
  options.isTextOnly
  options.isWithArrow

mixin button(options)
  - block = 'button'
  if !options
    - options = {}
  if !("isWithArrow" in options)
    - options.isWithArrow = true

  BUTTON(
    class=block
    class=options.isHovered ? `${block}_hovered` : ''
    class=options.isBorderOnly ? `${block}_border_only` : ''
    class=options.isTextOnly ? `${block}_text_only` : ''
    class=options.isWithArrow ? `${block}_with_arrow` : ''
    class='material-icons'
  )
    P(
      class=`${block}__caption`
    )=options.caption