//-
  options.caption
  options.isHovered
  options.isBorderOnly
  options.isTextOnly
  options.isWithArrow
  options.isCompact
  options.isNone

mixin button(options)
  - const blockName = "button"
  if !options
    - options = {}
  if !("isWithArrow" in options)
    - options.isWithArrow = true

  BUTTON(
    class=blockName
    class=options.isHovered ? `${blockName}_hovered` : ""
    class=options.isBorderOnly ? `${blockName}_border_only` : ""
    class=options.isTextOnly ? `${blockName}_text_only` : ""
    class=options.isWithArrow ? `${blockName}_with_arrow` : ""
    class=options.isCompact ? `${blockName}_compacted` : ""
    class=options.isNone ? `${blockName}_none` : ""
  )
    SPAN(class=`${blockName}__caption`)=options.caption