//-
  options.id
  options.caption
  options.isHovered
  options.isBorderOnly
  options.isTextOnly
  options.isWithArrow

mixin button(options)
  - const className = "button"
  if !options
    - options = {}
  if !("isWithArrow" in options)
    - options.isWithArrow = true

  BUTTON(
    id=options.id
    class=className
    class=options.isHovered ? `${className}_hovered` : ''
    class=options.isBorderOnly ? `${className}_border_only` : ''
    class=options.isTextOnly ? `${className}_text_only` : ''
    class=options.isWithArrow ? `${className}_with_arrow` : ''
    class='material-icons'
  )
    P(
      class=`${className}__caption`
    )=options.caption