include ../link-container/link-container.pug
include ../button/button.pug
include ../link/link.pug
include ../nav-links/nav-links.pug

mixin menu(options = {})
  - const blockName = "menu";
  - const { navLinks, user } = options;
  -
    const signInButtonOptions = {
      caption: "Войти",
      isBorderOnly: true,
      isCompact: true,
    }
    const regButtonOptions = {
      caption: "Зарегистрироваться",
      isCompact: true,
    }
    const signInLinkContainerOptions = {
      href: "sign-in.html",
      title: signInButtonOptions.caption,
    }
    const regLinkContainerOptions = {
      href: "registration.html",
      title: regButtonOptions.caption,
    }

  NAV(class=blockName)
    SECTION(class=`${blockName}__nav-links`)
      +nav-links({ navLinks, isHead: true, })
    SECTION(class=`${blockName}__user-panel`)
      if (user)
        P(
          class=`${blockName}__user-panel-item`,
          class=`${blockName}__user-panel-item_only`
        )
          +link(user)
      else
        P(
          class=`${blockName}__user-panel-item`,
          class=`${blockName}__user-panel-item_first`
        )
          +link-container(signInLinkContainerOptions)
            +button(signInButtonOptions)
        P(class=`${blockName}__user-panel-item`)
          +link-container(regLinkContainerOptions)
            +button(regButtonOptions)
