include ../button/button.pug
include ../link/link.pug
include ../nav-links/nav-links.pug

mixin menu(options = {})
  - const blockName = "menu";
  - const { navLinks, user } = options;

  DIV(class=blockName)
    DIV(class=`${blockName}__nav-links`)
      +nav-links({ navLinks, isHead: true, })
    DIV(class=`${blockName}__user-panel`)
      if (user)
        DIV(
          class=`${blockName}__user-panel-item`,
          class=`${blockName}__user-panel-item_only`
        )
          +link(user)
      else
        DIV(
          class=`${blockName}__user-panel-item`,
          class=`${blockName}__user-panel-item_first`
        )
          -
            const signInButtonOptions = {
              caption: "Войти",
              isBorderOnly: true,
              isCompact: true,
              link: "sign-in.html",
            }
          +button(signInButtonOptions)
        DIV(class=`${blockName}__user-panel-item`)
          -
            const regButtonOptions = {
              caption: "Зарегистрироваться",
              isCompact: true,
              link: "registration.html",
            }
          +button(regButtonOptions)
