include ../button/button.pug
include ../link/link.pug
include ../nav-links/nav-links.pug

//- 
  options.navLinks
  options.user

mixin menu(options = {})
  - const blockName = "menu"
  DIV(class=blockName)
    DIV(class=`${blockName}__nav-links`)
      +nav-links({
        navLinks: options.navLinks,
      })
    DIV(class=`${blockName}__user-panel`)
      if (options.user)
        DIV(
          class=`${blockName}__user-panel-item`
          class=`${blockName}__user-panel-item_only`
        )
          +link(options.user)
      else
        DIV(
          class=`${blockName}__user-panel-item`
          class=`${blockName}__user-panel-item_first`
        )
          +button({ caption: "Войти", isBorderOnly: true, isWithArrow: false, isCompact: true, link: "sign-in.html" })
        DIV(class=`${blockName}__user-panel-item`)
          +button({ caption: "Зарегистрироваться", isWithArrow: false, isCompact: true, link: "registration.html" })