//-
  options.isChecked
  options.name
  options.value
  options.label

mixin like-button(options = {})
  - const blockName = "like-button"
  LABEL(
    class=blockName
    class=`js-${blockName}`
    class=options.isChecked ? `${blockName}_checked` : ""
  )
    INPUT(
      class=`${blockName}__box`
      class=`js-${blockName}__box`
      class=options.isChecked ? `${blockName}__box_checked` : ""
      name=options.name
      value=options.value ? options.value : options.name
      type="checkbox"
      checked=options.isChecked
    )
    SPAN(
      class=`${blockName}__label`
      class=`js-${blockName}__label`
      class=options.isChecked ? `${blockName}__label_checked` : ""
    )=options.label ? options.label : options.value
    SPAN(class=`${blockName}__icon`)
