//- 
  options.name
  options.price
  options.withLine

mixin invoice-line(options = {})
  - const blockName = "invoice-line"

  SPAN(
    class=blockName
    class=`js-${blockName}`
  )
    SPAN(
      class=`${blockName}__name`
      class=`js-${blockName}__name`
      class=options.withLine ? `${blockName}__name_with-line` : ""
    )=options.name
      if options.withInfo
        BUTTON(class=`${blockName}__info`)="i"
    SPAN(
      class=`${blockName}__price`
      class=`js-${blockName}__price`
    )=options.price