//-
  options.id
  options.name
  options.options[
    value
    label
    checked
  ]

mixin radio-group(options)
  if !options
    - options = {}

  .radio-group(id=options.id)
    each option, index in options.options
      .radio-group__option(class=(index === 0) ? " radio-group__option_first" : "")
        +option(options, option, index)

mixin option(group, option, index)
  input.radio-group__box(
    type="radio"
    id=`${group.id}_${index}`
    name=group.name ? group.name : group.id
    value=option.value ? option.value : index
    checked=option.checked ? true : false
  )
  label.radio-group__label(
    for=`${group.id}_${index}`
    class=`
      ${option.checked ? " radio-group__label_checked" : ""}
      ${index === 0 ? " radio-group__label_first" : ""}
      ${index === 1 ? " radio-group__label_second" : ""}
      text_rare_less
    `
  )=option.label