//-
  options.id
  options.name
  options.options [{value, label, isChecked}]
  options.isRate

mixin radio-group(options)
  - let className = "radio-group"
  if !options
    - options = {}
  if options.isRate
    - className = "rate-button"
  - const set = ('options' in options) ? options.options : []

  DIV(
    class=className
    id=options.id
  )
    each option, index in set
      if options.isRate
        +option(options, option, index, className)
      else
        DIV(
          class=`${className}__option`
          class=(index === 0) ? `${className}__option_first` : ""
        )
          +option(options, option, index, className)

//- 

mixin option(group, option, index, className)
  INPUT(
    class=`${className}__box`
    type="radio"
    id=`${group.id}_${index}`
    name=group.name ? group.name : group.id
    value=option.value ? option.value : index
    checked=option.isChecked ? true : false
  )
  LABEL(
    for=`${group.id}_${index}`
    class=`${className}__label`
    class=option.isChecked ? `${className}__label_checked` : ""
    class=(index === 0) ? `${className}__label_first` : ""
    class=(index === 1 && group.isRate) ? `${className}__label_second` : ""
    class=!group.isRate ? "text_rare_less" : ""
  )=option.label