mixin option(field, option, index)
  input.radio-field__box(
    type="radio"
    id=`${field.id}_${index}`
    name=field.name ? field.name : field.id
    value=option.value ? option.value : index
    checked=option.checked ? true : false
  )
  label.radio-field__label(
    for=`${field.id}_${index}`
    class=`
      ${option.checked ? " radio-field__label_checked" : ""}
      ${field.rate ? " radio-field__label_mod_rate" : ""}
      ${index === 0 ? " radio-field__label_first" : ""}
      ${index === 1 ? " radio-field__label_second" : ""}
      text_rare_less
    `
  )=option.label


mixin radio-field(props)
  .radio-field(
    id=props.id
    class=props.rate ? " radio-field_mod_rate" : ""
  )
    each option, index in props.options
      if props.rate
        +option(props, option, index)
      else
        .radio-field__option(class=`${index === 0 ? " radio-field__option_first" : ""}`)
          +option(props, option, index)
        