mixin counter(count = 0, category = "штука")
  - const blockName = "counter"

  DIV(
    class=blockName
    class=`js-${blockName}`
    data-category=category
  )
    BUTTON(
      class=`${blockName}__element`
      class=`${blockName}__button`
      class=`js-${blockName}__button`
      class=!count ? `${blockName}__button_disabled` : ""
      disabled=!count ? true : false
    )="-"
    P(
      class=`${blockName}__element`
      class=`${blockName}__count`
      class=`js-${blockName}__count`
    )=count ? count : "0"
    BUTTON(
      class=`${blockName}__element`
      class=`${blockName}__button`
      class=`js-${blockName}__button`
    )="+"