include ../text-field/text-field.pug
include ../dropdown-field/dropdown-field.pug
include ../check-field/check-field.pug
include ../radio-field/radio-field.pug
include ../like-btn/like-btn.pug
include ../slider/slider.pug

mixin form-section(props)
  FIELDSET.form-section
    if props.title
      LEGEND.form-section__title-section
        H3.title-section= props.title
          if props.details
            .title-section__details
              P.details= props.details
    .form-section__fields-section(class=`
      ${props.field ? props.field.radio ? " form-section__fields-section_rare_more" :"":""}
      ${props.field ? props.field.slider ? " form-section__fields-section_rare_most" :"":""}
    `)
      if props.field
        if !props.field.dropdown && !props.field.radio && !props.field.slider
          +text-field(props.field)
        if props.field.dropdown
          +dropdown-field(props.field)
        if props.field.radio
          +radio-field(props.field)
        if props.field.slider 
          +slider(props.field)
      else if props.fields
        .fields-group(class=`${props.fields[0].like || props.fields[0].rate ? " fields-group_inlined" :""}`)
          each field, index in props.fields
            .fields-group__item(class=`
              ${index === 0 ? " fields-group__item_first" : ""}
              ${field.toggle ? " fields-group__item_rare-more_ver" : ""}
              ${field.rate ? " fields-group__item_rare-more_hor" : ""}
              ${field.like || field.rate ? " fields-group__item_inlined" : ""}
            `)
              if field.check || field.toggle
                +check-field(field)
              if field.like 
                +like-btn(field)
              if field.rate
                +radio-field({
                  id: field.id,
                  options: [
                    {checked: (field.value === 0 ? true : false)},
                    {checked: (field.value === 1 ? true : false)},
                    {checked: (field.value === 2 ? true : false)},
                    {checked: (field.value === 3 ? true : false)},
                    {checked: (field.value === 4 ? true : false)},
                    {checked: (field.value === 5 ? true : false)},
                  ],
                  rate: true,
                })