//- 
  options.id
  options.items

mixin extra-list(options)
  - const className = "extra-list"
  if !options
    - options = {}
  if !options.items
    - options = []

  UL.extra-list(
    id=options.id ? options.id : ""
    class=className
  )
    each item, index in options.items
      LI(
        class=`${className}__item`
        class=(index===0) ? `${className}__item_first` :""
      )
        +extra-list-item(item)

//- 
  options.title
  options.details
  options.icon

mixin extra-list-item(options)
  - const className = "extra-list-item"
  if !options
    - options = {}
  
  DIV(
    class=className
  )
    P(
      class=`${className}__title`
    )=options.title
    P(
      class=`${className}__details`
    )=options.details
    I(
      class=`${className}__icon`
      class="material-icons"
    )=options.icon

