//- 
  options.items = [{ title, details, icon }]

mixin extra-list(options = {})
  - const blockName = "extra-list"
  - const { items = [] } = options

  UL(class=blockName)
    each item, index in items
      LI(
        class=`${blockName}__item`
        class=(index===0) ? `${blockName}__item_first` :""
        class=(index===items.length-1) ? `${blockName}__item_last` :""
      )
        P(class=`${blockName}__title`)=item.title
        P(class=`${blockName}__details`)=item.details
        I(class=`${blockName}__icon`)=item.icon

