//- 
  options.imgs

mixin room-photos(options = {})
  - const blockName = "room-photos"
  DIV(class=blockName)
    DIV(class=`${blockName}__main`)
      IMG(class=`${blockName}__photo`, src=options.imgs[0])
    DIV(class=`${blockName}__aside`)
      IMG(class=`${blockName}__photo`, src=options.imgs[1])
      IMG(class=`${blockName}__photo`, src=options.imgs[2])