//- 
  options.images

mixin room-photos(options = {})
  - const blockName = "room-photos"
  DIV(class=blockName)
    DIV(class=`${blockName}__main`)
      DIV(class=`${blockName}__photo-container`)
        IMG(
          class=`${blockName}__photo`, 
          src=options.images[0],
          alt="Вид номера - 1"
        )
    DIV(class=`${blockName}__aside`)
      DIV(class=`${blockName}__photo-container`)
        IMG(
          class=`${blockName}__photo`, 
          src=options.images[1],
          alt="Вид номера - 2"
        )
      DIV(class=`${blockName}__photo-container`)
        IMG(
          class=`${blockName}__photo`, 
          src=options.images[2],
          alt="Вид номера - 3"
        )