mixin room-photos(options = {})
  - const blockName = "room-photos";
  - const { images } = options;

  SECTION(class=blockName)
    DIV(class=`${blockName}__wrapper`)
      SECTION(class=`${blockName}__main`)
        DIV(class=`${blockName}__photo-container`)
          IMG(
            class=`${blockName}__photo`,
            src=images[0],
            alt="Вид номера - 1"
          )
      ASIDE(class=`${blockName}__aside`)
        DIV(class=`${blockName}__photo-container`)
          IMG(
            class=`${blockName}__photo`,
            src=images[1],
            alt="Вид номера - 2"
          )
        DIV(class=`${blockName}__photo-container`)
          IMG(
            class=`${blockName}__photo`,
            src=images[2],
            alt="Вид номера - 3"
          )
