include ../form-set/form-set.pug
include ../check-button/check-button.pug
include ../link/link.pug

//- 
  options.isExpanded
  options.withChecks
  options.list

mixin expandable-list(options = {})
  - const blockName = "expandable-list"
  - const list = options.list ? options.list : []
  DIV(
    class=blockName
    class=`js-${blockName}`
    class=options.withChecks ? `${blockName}_with-checks` : ""
  )
    INPUT(
      class=`${blockName}__check`
      id=`${blockName}-${options.name}-check`
      type="checkbox"
      checked=options.isExpanded ? true : false
    )
    LABEL(
      class=`${blockName}__expand-more`
      for=`${blockName}-${options.name}-check`
    )
    if options.withChecks
      DIV(class=`${blockName}__list`)
        +form-set({ isGrouped: true, isMarginNone: true })
          each item, index in list
            .form-set__element(class=index!==0 ? "form-set__element_indent-in_check-buttons" : "form-set__element_margin_none")
              +check-button(item)
    else
      UL(
        class=`${blockName}__list`
        class=`${blockName}__list_customary`
      )
        each item in list
          LI(class=`${blockName}__item`)
            +link(item)
