include ../form-set/form-set.pug
include ../check-button/check-button.pug

//- 
  options.isExpanded
  options.withChecks
  options.list

mixin expandable-list(options = {})
  - const blockName = "expandable-list"
  DIV(
    class=blockName
    class=options.withChecks ? `${blockName}_with-checks` : ""
  )
    INPUT(
      class=`${blockName}__check`
      id=`${blockName}-${options.name}-check`
      type="checkbox"
      checked=options.isExpanded ? true : false
    )
    LABEL(
      class=`${blockName}__expand-more`
      for=`${blockName}-${options.name}-check`
    )
    DIV(class=`${blockName}__list`)
      if options.withChecks
        +form-set({ isGrouped: true, isMarginNone: true })
          +check-list({ list: options.list ? options.list : [] })
      else
        +list(options.list)

//- 

mixin check-list(options)
  each item, index in options.list
    .form-set__element(class=index!==0 ? "form-set__element_indent-in_check-buttons" : "form-set__element_margin_none")
      +check-button(item)

//- 

mixin list(list = [])
  - const blockName = "list"
  UL(class=blockName)
    each item in list
      LI(class=`${blockName}__item`)=item
