mixin logo(options = {})
  - const blockName = "logo";
  - const { isSimplified } = options;

  if isSimplified
    DIV(class=blockName, class=`${blockName}_simplified`)
      IMG(
        class=`${blockName}__pic`,
        src="../assets/images/logo-gray.svg",
        alt="Toxin"
      )
  else
    A(class=blockName, href="landing-page.html")
      IMG(
        class=`${blockName}__pic`,
        src="../assets/images/logo-color.svg",
        alt="Toxin"
      )
      IMG(
        class=`${blockName}__text`,
        src="../assets/images/logo-text.svg",
        alt="Toxin"
      )
