//- 
  options.isSimplified

mixin logo(options = {})
  - const blockName = "logo"
  A(
    class=blockName
    class=options.isSimplified ? `${blockName}_simplified` : ""
    href="/website/landing-page.html"
  )
    DIV(class=`${blockName}__pic`)
    if (!options.isSimplified)
      DIV(class=`${blockName}__text`)