include ../nav-links/nav-links.pug
include ../subscription/subscription.pug
include ../text-field/text-field.pug

//- 
  options.title
  options.links
  options.text
  options.withSubscribe

mixin widget(options = {})
  - const blockName = "widget"
  - const { title, links, text, withSubscribe } = options

  DIV(class=blockName)
    H3(class=`${blockName}__title`)=title
    SECTION(class=`${blockName}__content`)
      if links
        NAV(class=`${blockName}__nav`)
          +nav-links({ navLinks: links })
      if text
        P(class=`${blockName}__text`)=text 
      if withSubscribe
        FORM(class=`${blockName}__form`)
          +subscription
            +text-field({
              placeholder: "Email",
              isDirected: true,
              name: "email",
              type: "email",
            })