include ../nav-links/nav-links.pug
include ../subscription/subscription.pug
include ../text-field/text-field.pug

//- 
  options.title
  options.links
  options.text
  options.withSubscribe

mixin widget(options = {})
  - const blockName = "widget"
  DIV(class=blockName)
    H3(class=`${blockName}__title`)=options.title
    SECTION(class=`${blockName}__content`)
      if options.links
        NAV(class=`${blockName}__nav`)
          +nav-links({ navLinks: options.links })
      if options.text
        P(class=`${blockName}__text`)=options.text 
      if options.withSubscribe
        FORM(class=`${blockName}__form`)
          +subscription
            +text-field({
              placeholder: "Email",
              isDirected: true,
              name: "email",
              type: "email",
            })