include ../form-set/form-set.pug
include ../expandable-list/expandable-list.pug
include ../bullet-list/bullet-list.pug
include ../extra-list/extra-list.pug

mixin lists(param)
  - const blockName = "lists";
  if (param === "expandable-checks")
    -
      const defaultFormSetOptions = {
        title: "Expandable checkbox list",
        isMarginNone: true,
      }
      const defaultExpandableListOptions = {
        name: "additions-1",
        withChecks: true,
        list: [
          { label: "Завтрак" },
          { label: "Письменный стол" },
          { label: "Стул для кормления" },
          { label: "Кроватка" },
          { label: "Телевизор" },
          { label: "Шампунь" },
        ],
      }
      const expandedFormSetOptions = {
        title: "Expandable checkbox list",
        isMarginNone: true,
      }
      const expandedExpandableListOptions = {
        name: "additions-2",
        isExpanded: true,
        withChecks: true,
        list: [
          { label: "Завтрак" },
          { label: "Письменный стол", isChecked: true },
          { label: "Стул для кормления", isChecked: true },
          { label: "Кроватка", isChecked: true },
          { label: "Телевизор" },
          { label: "Шампунь" },
        ],
      }
    DIV(class=blockName)
      SECTION(
        class=`${blockName}__section`,
        class=`${blockName}__section_first`,
        class=`${blockName}__section_short`
      )
        +form-set(defaultFormSetOptions)
          +expandable-list(defaultExpandableListOptions)
      SECTION(
        class=`${blockName}__section`,
        class=`${blockName}__section_short`
      )
        +form-set(expandedFormSetOptions)
          +expandable-list(expandedExpandableListOptions)
  else if (param === "bullet")
    -
      const bulletListOptions = {
        items: [
          "Нельзя с питомцами",
          "Без вечеринок и мероприятий",
          "Время прибытия — после 13:00, а выезд до 12:00",
        ],
      }
    +form-set({ title: "Bullet List", isIndented: true })
      +bullet-list(bulletListOptions)
  else if (param === "extra")
    -
      const extraListOptions = {
        items: [
          {
            title: "Комфорт",
            details: "Шумопоглощающие стены",
            icon: "insert_emoticon",
          },
          {
            title: "Удобство",
            details: "Окно в каждой из спален",
            icon: "location_city",
          },
        ],
      }
    +extra-list(extraListOptions)
