include ../like-button/like-button.pug

mixin comment(options = {})
  - const blockName = "comment"
  - const { avatar, username, likeValue, isLiked, datetime, message } = options

  DIV(class=blockName)
    DIV(class=`${blockName}__images`)
      DIV(class=`${blockName}__avatar`)
        IMG(
          class=`${blockName}__img`
          src=avatar
          alt=username
        )
      DIV(class=`${blockName}__like`)
        +like-button({
          value: likeValue ? likeValue : 0,
          isChecked: isLiked,
        })
    DIV(class=`${blockName}__texts`)
      P(class=`${blockName}__username`)=username
      P(class=`${blockName}__date-time`)=datetime
      P(class=`${blockName}__message`)=message