include ../like-button/like-button.pug

//- 
  options.username
  options.avatar
  options.datetime
  options.message
  options.likeValue
  options.isLiked

mixin comment(options = {})
  - const blockName = "comment"

  DIV(class=blockName)
    DIV(class=`${blockName}__images`)
      DIV(class=`${blockName}__avatar`)
        IMG(
          class=`${blockName}__img`
          src=options.avatar
          alt=options.username
        )
      DIV(class=`${blockName}__like`)
        +like-button({
          value: options.likeValue ? options.likeValue : 0,
          isChecked: options.isLiked,
        })
    DIV(class=`${blockName}__texts`)
      P(class=`${blockName}__username`)=options.username
      P(class=`${blockName}__date-time`)=options.datetime
      P(class=`${blockName}__message`)=options.message