include ../like/like.pug

mixin comment(comment)
  .comment
    .comment_imgs
      img.comment__ava(src=comment.src, alt=comment.username)
      +like({ label: comment.likes, checked: true }, 'comment_like1')
    .comment_texts
      p.comment__username=comment.username
      p.comment__datetime=comment.datetime
      p.comment__text=comment.text