include ../like-button/like-button.pug

//- 
  options.id
  options.username
  options.avatar
  options.datetime
  options.message
  options.likeValue
  options.isLiked

mixin comment(options)
  - const className = "comment"
  if !options
    - options = {}

  DIV(
    class=className
  )
    DIV(
      class=`${className}__imgs`
    )
      DIV(
        class=`${className}__avatar`
      )
        +comment-avatar(options.avatar, options.username)
      DIV(
        class=`${className}__like`
      )
        +like-button({
          id: "comment-like",
          value: options.likeValue ? options.likeValue : 0,
          checked: options.isLiked,
        })
    DIV(
      class=`${className}__texts`
    )
      P(
        class=`${className}__username`
      )=options.username
      P(
        class=`${className}__datetime`
      )=options.datetime
      P(
        class=`${className}__message`
      )=options.message

mixin comment-avatar(src, alt)
  - const className = "comment-avatar"

  DIV(
    class=className
  )
    IMG(
      class=`${className}__img`
      src=src
      alt=alt
    )