include ../like-button/like-button.pug

mixin comment(options = {})
  - const blockName = "comment";
  -
    const { avatar, username, likeValue, isLiked, datetime, 
      message } = options
  -
    const likeButtonOptions = {
      value: likeValue ? likeValue : 0,
      isChecked: isLiked,
    }

  SECTION(class=blockName)
    ASIDE(class=`${blockName}__images`)
      FIGURE(class=`${blockName}__avatar`)
        IMG(
          class=`${blockName}__img`,
          src=avatar,
          alt=username
        )
      P(class=`${blockName}__like`)
        +like-button(likeButtonOptions)
    SECTION(class=`${blockName}__texts`)
      P(class=`${blockName}__username`)= username
      P(class=`${blockName}__date-time`)= datetime
      P(class=`${blockName}__message`)= message
