extends ../../components/layout/layout

block variables
  - const title = "TOXIN"
  - const description = "Верстка макета TOXIN по второму заданию FSD"

block content
  .demo-menu
    UL.pages
      LI.pages__website= "Website Pages"
        UL.link-list
          LI.link-list__item
            A.page-link(
              href="website/landing-page.html"
            )="Landing page"
          LI.link-list__item
            A.page-link(
              href="website/search-room.html"
            )="Search room/Filter"
          LI.link-list__item
            A.page-link(
              href="website/room-details.html"
            )="Room details"
          LI.link-list__item
            A.page-link(
              href="website/registration.html"
            )="Registration"
          LI.link-list__item
            A.page-link(
              href="website/sign-in.html"
            )="Sign in"
      LI.pages__ui-kit= "UI-KIT"
        UL.link-list
          LI.link-list__item
            A.page-link(
              href="ui-kit/colors-and-type.html"
            )="Colors & Type"
          LI.link-list__item
            A.page-link(
              href="ui-kit/form-elements.html"
            )="Form Elements"
          LI.link-list__item
            A.page-link(
              href="ui-kit/cards.html"
            )="Cards"
          LI.link-list__item
            A.page-link(
              href="ui-kit/headers-and-footers.html"
            )="Headers & Footers"