include ../link-container/link-container.pug
include ../button/button.pug
include ../form-set/form-set.pug
include ../text-field/text-field.pug

mixin log-in
  - const blockName = "log-in";
  -
    const emailTextFieldOptions = {
      name: "email",
      placeholder: "Email",
      type: "email",
    }
    const passwordTextFieldOptions = {
      name: "password",
      placeholder: "Пароль",
      type: "password",
    }
    const regFormSetOptions = {
      isInlined: true,
      isGrouped: true,
      isMarginNone: true,
    }
    const regButtonOptions = {
      caption: "Создать",
      isBorderOnly: true,
    }
    const regLinkContainerOptions = {
      href: "registration.html",
      title: regButtonOptions.caption,
    }

  ARTICLE(class=blockName)
    SECTION(
      class=`${blockName}__section`,
      class=`${blockName}__section_first`
    )
      +form-set({ isGrouped: true, isMarginNone: true })
        P.form-set__element.form-set__element_margin_none
          +text-field(emailTextFieldOptions)
        P.form-set__element.form-set__element_indent-mid
          +text-field(passwordTextFieldOptions)
    SECTION(class=`${blockName}__section`)
      +button({ caption: "Войти", type: "submit", withArrow: true })
    SECTION(
      class=`${blockName}__section`,
      class=`${blockName}__section_last`
    )
      +form-set(regFormSetOptions)
        SECTION.form-set__element.form-set__element_align-mid.form-set__element_increased
          P(class=`${blockName}__question`)= "Нет аккаунта на Toxin?"
        P.form-set__element.form-set__element_indent_left
          +link-container(regLinkContainerOptions)
            +button(regButtonOptions)
