include ../form-set/form-set.pug
include ../date-filter/date-filter.pug
include ../dropdown/dropdown.pug
include ../slider/slider.pug
include ../check-button/check-button.pug
include ../expandable-list/expandable-list.pug

mixin filter(options = {})
  - const blockName = "filter";
  -
    const { dateFrom, dateTo, guests, priceRange, ruleChecks, 
      accessibleChecks, amenities, additions } = options

  FORM(class=blockName)
    SECTION(
      class=`${blockName}__section`,
      class=`${blockName}__section_first`
    )
      +form-set({ title: "Даты пребывания в отеле" })
        +date-filter({ name: "dates", dateFrom, dateTo })
    SECTION(
      class=`${blockName}__section`,
      class=`${blockName}__section_second`
    )
      +form-set({ title: "Гости" })
        -
          const dropdownOptions = {
            name: "guests",
            list: [
              {
                name: "Взрослые",
                count: guests.count[0],
                category: "гость",
              },
              { name: "Дети", category: "гость" },
              {
                name: "Младенцы",
                count: guests.count[1],
                category: "младенец",
              },
            ],
            isExpanded: guests.isExpanded,
          }
        +dropdown(dropdownOptions)
    SECTION(class=`${blockName}__section`)
      - const priceFrom = priceRange[0].toLocaleString("ru");
      - const priceTo = priceRange[1].toLocaleString("ru");
      -
        const formSetOptions = {
          title: "Диапазон цены",
          details: `${priceFrom}₽ - ${priceTo}₽`,
          description: "Стоимость за сутки пребывания в номере",
          isIndented: true,
        }
      +form-set(formSetOptions)
        +slider({ values: [0, priceRange[0], priceRange[1], 16000] })
    SECTION(class=`${blockName}__section`)
      +form-set({ title: "Правила дома", isGrouped: true })
        each item, index in ruleChecks
          .form-set__element.form-set__element_indent-in_check-buttons
            -
              const checkButtonOptions = {
                label: item.label,
                isChecked: item.isChecked,
              }
            +check-button(checkButtonOptions)
    SECTION(class=`${blockName}__section`)
      +form-set({ title: "Доступность", isGrouped: true })
        each item, index in accessibleChecks
          .form-set__element.form-set__element_indent-in_check-buttons
            -
              const checkButtonOptions = {
                label: item.label, 
                details: item.details, 
                isChecked: item.isChecked,
              }
            +check-button(checkButtonOptions)
    SECTION(class=`${blockName}__section`)
      +form-set({ title: "Удобства номера" })
        -
          const dropdownOptions = {
            name: "amenities",
            list: [
              {
                name: "Спальни",
                count: amenities.count[0],
                category: "спальня",
              },
              {
                name: "Кровати",
                count: amenities.count[1],
                category: "кровать",
              },
              {
                name: "Ванные комнаты",
                count: amenities.count[2],
                category: "ванная",
              },
            ],
            isExpanded: amenities.isExpanded,
          }
        +dropdown(dropdownOptions)
    SECTION(class=`${blockName}__section`)
      +form-set({ title: "Дополнительные удобства", isMarginNone: true })
        -
          const expandableListOptions = {
            name: "additions",
            withChecks: true,
            list: additions.checks,
            isExpanded: additions.isExpanded,
          }
        +expandable-list(expandableListOptions)
