include ../form-set/form-set.pug
include ../date-filter/date-filter.pug
include ../dropdown/dropdown.pug
include ../slider/slider.pug
include ../check-button/check-button.pug
include ../expandable-list/expandable-list.pug

//-
  options.dateFrom
  options.dateTo
  options.guests
  options.priceRange
  options.ruleChecks
  options.accessibleChecks
  options.amenities
  options.additions

mixin filter(options = {})
  - const blockName = "filter"
  FORM(class=blockName)
    SECTION(
      class=`${blockName}__section`
      class=`${blockName}__section_first`
    )
      +form-set({ title: "Даты пребывания в отеле" })
        +date-filter({
          name: "dates",
          dateFrom: options.dateFrom,
          dateTo: options.dateTo,
        })
    SECTION(
      class=`${blockName}__section`
      class=`${blockName}__section_second`
    )
      +form-set({ title: "Гости" })
        +dropdown({
          name: "guests",
          list: [
            { name: "Взрослые", count: options.guests.count[0], category: "гость" },
            { name: "Дети", category: "гость" },
            { name: "Младенцы", count: options.guests.count[1], category: "младенец" }
          ],
          isExpanded: options.guests.isExpanded
        })
    SECTION(class=`${blockName}__section`)
      +form-set({ 
        title: "Диапазон цены", 
        details: `${options.priceRange[0].toLocaleString("ru")}₽ - ${options.priceRange[1].toLocaleString("ru")}₽`,
        description: "Стоимость за сутки пребывания в номере",
        isIndented: true
      })
        +slider({ values: [0, 30.4, 63.5, 100] })
    SECTION(class=`${blockName}__section`)
      +form-set({ title: "Правила дома", isGrouped: true })
        each item, index in options.ruleChecks
          .form-set__element.form-set__element_indent-in_check-buttons
            +check-button({  
              label: item.label, 
              isChecked: item.isChecked 
            })
    SECTION(class=`${blockName}__section`)
      +form-set({ title: "Доступность", isGrouped: true })
        each item, index in options.accessibleChecks
          .form-set__element.form-set__element_indent-in_check-buttons
            +check-button({  
              label: item.label, 
              details: item.details, 
              isChecked: item.isChecked 
            })
    SECTION(class=`${blockName}__section`)
      +form-set({ title: "Удобства номера" })
        +dropdown({
          name: "amenities",
          list: [
            { name: "Спальни", count: options.amenities.count[0], category: "спальня" },
            { name: "Кровати", count: options.amenities.count[1], category: "кровать" },
            { name: "Ванные комнаты", count: options.amenities.count[2], category: "ванная" }
          ],
          isExpanded: options.amenities.isExpanded
        })
    SECTION(class=`${blockName}__section`)
      +form-set({ title: "Дополнительные удобства", isMarginNone: true })
        +expandable-list({
          name: "additions",
          withChecks: true,
          list: options.additions.checks,
          isExpanded: options.additions.isExpanded
        })

