include ../card-title/card-title.pug

//- 
  options.title
  options.isMedium
  options.isSmall
  options.isEmpty


mixin card(options)
  - const blockName = "card"
  if !options
    - options = {}

  DIV(
    class=blockName
    class=options.isMedium ? `${blockName}_medium` : ""
    class=options.isSmall ? `${blockName}_small` : ""
  )
    if options.title
      H1(class=`${blockName}__title`)
        +card-title(options.title)
    if !options.isEmpty
      DIV(class=`${blockName}__form`)
        block
    else
      block