include ../card-title/card-title.pug

mixin card(options = {})
  - const blockName = "card";
  - const { title, isMedium, isSmall, isEmpty } = options;

  ARTICLE(
    class=blockName,
    class=isMedium ? `${blockName}_size_medium` : "",
    class=isSmall ? `${blockName}_size_small` : ""
  )
    if title
      HEADER(class=`${blockName}__title`)
        +card-title({ title, isSmall })
    if !isEmpty
      SECTION(class=`${blockName}__form`)
        block
    else
      block
