include ../card-title/card-title.pug

mixin card(options = {})
  - const blockName = "card";
  - const { title, isMedium, isSmall, isEmpty } = options;

  DIV(
    class=blockName,
    class=isMedium ? `${blockName}_medium` : "",
    class=isSmall ? `${blockName}_small` : ""
  )
    if title
      H1(class=`${blockName}__title`)
        +card-title(title)
    if !isEmpty
      DIV(class=`${blockName}__form`)
        block
    else
      block
