//- 
  options.id
  options.imgs
  options.selected
  options.isHovered

mixin preview(options)
  - const blockName = "preview"
  if !options
    - options = {}
  - const imgs = options.imgs ? options.imgs : []
  - const selected = options.selected ? options.selected : 0
  
  DIV(
    class=blockName
    class=options.isHovered ? `${blockName}_hovered` : ""
    id=options.id
    data-selected=selected
  )
    DATALIST(
      class=`${blockName}__data`
      id=`${options.id}-data`
    )
      each img in imgs
        OPTION(value=img)
    IMG(
      class=`${blockName}__img`
      src=options.imgs[selected]
      id=`${options.id}-img`
    )
    DIV(class=`${blockName}__arrows`)
      +carousel-arrows-control
    DIV(class=`${blockName}__points`)
      +carousel-points-control({
        id: `${options.id}-points`,
        count: `${imgs.length}`,
        selected: selected,
      })

//- 

mixin carousel-arrows-control
  - const blockName = "carousel-arrows-control"
  DIV(class=blockName)
    BUTTON(
      class=`${blockName}__arrow`
      class=`${blockName}__arrow_prev`
    )
    BUTTON(
      class=`${blockName}__arrow`
      class=`${blockName}__arrow_next`
    )

//- 
  options.id
  options.count
  options.selected

mixin carousel-points-control(options)
  - const blockName = "carousel-points-control"
  if !options
    - options = {}
  DIV(
    class=blockName
    id=options.id
  )
    - let i = 0
    while i < options.count
      INPUT(
        class=`${blockName}__input`
        id=`${options.id}__input-${i}`
        type="radio"
        name=`${options.id}-radio`
        value=i
        checked=(i===options.selected) ? true : false
      )
      LABEL(
        class=`${blockName}__label`
        class=(i===options.selected) ? `${blockName}__label_checked` : ""
        for=`${options.id}__input-${i}`
      )
      - i++