include ../dropdown-control/dropdown-control.pug

mixin calendar(options = {})
  - const blockName = "calendar";
  - const { from, to, active } = options;

  SECTION(
    class=blockName,
    class=`js-${blockName}`,
    data-from=from,
    data-to=to,
    data-active=active
  )
    DIV(
      class=`${blockName}__plugin`,
      class=`js-${blockName}-plugin`
    )
    DIV(class=`${blockName}__control`)
      +dropdown-control({ isClear: !(to || from || active) })
