include ../form-set/form-set.pug
include ../check-button/check-button.pug
include ../radio-group/radio-group.pug
include ../toggle/toggle.pug
include ../like-button/like-button.pug
include ../rate-button/rate-button.pug

mixin check-elements
  - const blockName = "check-elements";
  -
    const petsCheckButtonOptions = {
      label: "Можно с питомцами",
      isChecked: true,
    }
    const guestsCheckButtonOptions = {
      label: "Можно пригласить гостей (до 10 человек)",
      isChecked: true,
    }
    const radioGroupOptions = {
      name: "sex",
      set: [
        { label: "Мужчина", isChecked: true },
        { label: "Женщина" },
      ],
    }
    const toggleOptions = {
      label: "Получать спецпредложения",
      isChecked: true,
    }
    const likeFormSetOptions = {
      title: "Like Button",
      isGrouped: true,
      isInlined: true,
    }
    const rateFormSetOptions = {
      title: "Rate Button",
      isGrouped: true,
      isInlined: true,
    }

  DIV(class=blockName)
    SECTION(
      class=`${blockName}__section`,
      class=`${blockName}__section_first`
    )
      +form-set({ title: "Checkbox Buttons", isGrouped: true })
        .form-set__element.form-set__element_indent-in_check-buttons
          +check-button({ label: "Можно курить" })
        .form-set__element.form-set__element_indent-in_check-buttons
          +check-button(petsCheckButtonOptions)
        .form-set__element.form-set__element_indent-in_check-buttons
          +check-button(guestsCheckButtonOptions)
    SECTION(class=`${blockName}__section`)
      +form-set({ title: "Radio Buttons", isIndented: true })
        +radio-group(radioGroupOptions)
    SECTION(class=`${blockName}__section`)
      +form-set({ title: "Toggle", isGrouped: true })
        .form-set__element
          +toggle(toggleOptions)
        .form-set__element.form-set__element_indent-in_toggles
          +toggle({ label: "Получать спецпредложения" })
    SECTION(class=`${blockName}__section`)
      +form-set(likeFormSetOptions)
        .form-set__element
          +like-button({ value: 2 })
        .form-set__element.form-set__element_indent-in_like-buttons
          +like-button({ value: 12, isChecked: true })
    SECTION(class=`${blockName}__section`)
      +form-set(rateFormSetOptions)
        .form-set__element
          +rate-button({ name: "rate-1", value: 4 })
        .form-set__element.form-set__element_indent-in_rate-buttons
          +rate-button({ name: "rate-2", value: 5 })
