include ../date-section/date-section.pug
include ../dropdown/dropdown.pug
include ../button/button.pug
include ../form-set/form-set.pug

mixin wishes(options = {})
  - const blockName = "wishes";
  -
    const { dateFrom, dateTo, isCalendarArrivalExpanded, 
      isCalendarDepartureExpanded, calendarArrivalDateActivate, 
      calendarDepartureDateActivate, isGuestListExpanded, 
      guestList } = options
  -
    const dateSectionOptions = {
      name: "wishes-dates",
      dateFrom,
      dateTo,
      isCalendarArrivalExpanded,
      isCalendarDepartureExpanded,
      calendarArrivalDateActivate,
      calendarDepartureDateActivate,
    }
    const dropdownOptions = {
      name: "wishes-guests",
      isExpanded: isGuestListExpanded,
      withControl: true,
      list: guestList
        ? guestList
        : [
            { name: "взрослые", category: "гость" },
            { name: "дети", category: "гость" },
            {
              name: "младенцы",
              category: "младенец",
            },
          ],
    }
    const buttonOptions = {
      caption: "Подобрать номер",
      type: "submit",
      withArrow: true,
    }

  ARTICLE(class=blockName)
    SECTION(
      class=`${blockName}__section`,
      class=`${blockName}__section_first`
    )
      +date-section(dateSectionOptions)
    SECTION(class=`${blockName}__section`)
      +form-set({ title: "Гости" })
        +dropdown(dropdownOptions)
    SECTION(
      class=`${blockName}__section`,
      class=`${blockName}__section_last`
    )
      +button(buttonOptions)
