//- 
  options.prefix
  options.content
  options.postfix
  options.isShiftedPostfix
  options.link

mixin title-main(options = {})
  - const blockName = "title-main"

  A(
    class=blockName
    href=options.link
  )
    if options.prefix
      SPAN(class=`${blockName}__prefix`)=options.prefix
    SPAN(class=`${blockName}__content`)=options.content
    if options.postfix
      SPAN(
        class=`${blockName}__postfix`
        class=options.isShiftedPostfix ? `${blockName}__postfix_shifted` : ""
      )=options.postfix