//- 
  options.prefix
  options.content
  options.postfix
  options.isShiftedPostfix
  options.link

mixin title-main(options = {})
  - const blockName = "title-main"
  - const { link, prefix, content, postfix, isShiftedPostfix } = options

  A(
    class=blockName
    href=link
  )
    if prefix
      SPAN(class=`${blockName}__prefix`)=prefix
    SPAN(class=`${blockName}__content`)=content
    if postfix
      SPAN(
        class=`${blockName}__postfix`
        class=isShiftedPostfix ? `${blockName}__postfix_shifted` : ""
      )=postfix