//-
  options.title
  options.details
  options.empty
  options.grouped
  options.inlined
  options.indented
  options.marginNone

mixin form-set(options)
  if !options
    - options = {}

  FIELDSET.form-set
    if options.title 
      LEGEND.form-set__title
        H3.title-section= options.title
          if options.details
            .title-section__details
              P.details= options.details
    if options.empty 
      block 
    else if options.grouped
      .form-set__group(
        class=options.inlined ? 'form-set__group_inlined' :''
        class=options.marginNone ? 'form-set__group_margin_none' :''
      )
        block
    else
      .form-set__element(
        class=options.indented ? 'form-set__element_indented' :''
        class=options.marginNone ? 'form-set__element_margin_none' :''
      )
        block