//-
  options.title
  options.details
  options.isEmpty
  options.isGrouped
  options.isInlined
  options.isIndented
  options.marginNone

mixin form-set(options)
  - const className = "form-set"
  if !options
    - options = {}

  FIELDSET(
    class=className
  )
    if options.title 
      LEGEND(
        class=`${className}__title`
      )
        H3.set-title=options.title
          if options.details
            .set-title__details=options.details
    if options.isEmpty 
      block 
    else if options.isGrouped
      .form-set__group(
        class=options.isInlined ? 'form-set__group_inlined' :''
        class=options.marginNone ? 'form-set__group_margin_none' :''
      )
        block
    else
      .form-set__element(
        class=options.isIndented ? 'form-set__element_indented' :''
        class=options.marginNone ? 'form-set__element_margin_none' :''
      )
        block