mixin form-set(options = {})
  - const blockName = "form-set"
  - const { title, details, isEmpty, isGrouped, isInlined, isMarginNone, isAligned, withLine, isIndented, description } = options

  FIELDSET(
    class=blockName
    class=`js-${blockName}`
  )
    if title 
      LEGEND(class=`${blockName}__legend`)
        H3(class=`${blockName}__title`)=title
          if details
            SPAN(
              class=`${blockName}__details`
              class=`js-${blockName}__details`
            )=details
    if isEmpty 
      block 
    else if isGrouped
      .form-set__group(
        class=isInlined ? 'form-set__group_inlined' :''
        class=isMarginNone ? 'form-set__group_margin_none' :''
        class=isAligned ? 'form-set__group_aligned' :''
        class=withLine ? 'form-set__group_with-line' :''
      )
        block
    else
      .form-set__element(
        class=isIndented ? 'form-set__element_indented' :''
        class=isMarginNone ? 'form-set__element_margin_none' :''
      )
        block
    if description
      P(class=`${blockName}__description`)=description