include ../../components/logo/logo.pug

block variables

-
  const { isGray, description, keywords, title, 
    page, withLogo = true } = options ? options : {}

doctype html
HTML(lang="ru")
  HEAD
    META(
      http-equiv="Content-Type",
      content="text/html;charset=UTF-8"
    )
    META(
      name="description",
      content=description
    )
    META(name="keywords", content=keywords)
    META(
      name="viewport",
      content="width=device-width, initial-scale=1.0"
    )

    LINK(
      rel="apple-touch-icon",
      sizes="180x180",
      href="../assets/favicons/apple-touch-icon.png"
    )
    LINK(
      rel="icon",
      type="image/png",
      sizes="32x32",
      href="../assets/favicons/favicon-32x32.png"
    )
    LINK(
      rel="icon",
      type="image/png",
      sizes="16x16",
      href="../assets/favicons/favicon-16x16.png"
    )
    LINK(
      rel="manifest",
      href="../assets/favicons/site.webmanifest"
    )
    LINK(
      rel="mask-icon",
      href="../assets/favicons/safari-pinned-tab.svg",
      color="#bc9cff"
    )
    META(
      name="msapplication-TileColor",
      content="#bc9cff"
    )
    META(name="theme-color", content="#ffffff")

    TITLE= `${title}`
  BODY.page(class=page)
    .ui-kit(class=isGray ? "ui-kit_color_gray" : "")
      HEADER.ui-kit__header
        if withLogo
          +logo({ isSimplified: true })
      MAIN.ui-kit__content
        block content
