mixin field(mode, type, value, placeholder, pattern, disabled)
  case mode
    when 'hover'
        input.field.field_hover(type=`${type}` value=value placeholder=placeholder disabled=disabled)
    when 'focus'
        input.field.field_focus(type=`${type}` value=value placeholder=placeholder disabled=disabled)
    when 'masked'
        input.field.field_masked(type=`${type}` value=value placeholder=placeholder pattern=pattern title=placeholder disabled=disabled)
    default
        if type
          input.field(type=`${type}` value=value placeholder=placeholder disabled=disabled)
        else
          input.field(type='text' value=value placeholder=placeholder disabled=disabled)