//-
  options.name
  options.example

mixin type-section(options)
  if !options
    - options = {}

  case options.name
    when "H1"
      SECTION.type-section.type-section_first
        H1.type-section__name= options.name
        H1.type-section__example= options.example
    when "H2"
      SECTION.type-section
        H2.type-section__name= options.name
        H2.type-section__example= options.example
    when "H3"
      SECTION.type-section
        H3.type-section__name= options.name
        H3.type-section__example= options.example
    when "Body"
      SECTION.type-section
        .type-section__name= options.name
        .type-section__example= options.example
    default
      SECTION.type-section
        .type-section__name= options.name
        .type-section__example= options.example