include ../pagination/pagination.pug
include ../room/room.pug

mixin rooms(options = {})
  - const blockName = "rooms";
  - const { title, numbers, lastPage } = options;
  -
    const paginationOptions = {
      lastPage, 
      description: `1 – ${numbers.length} из 100+ вариантов аренды`,
    }

  ARTICLE(class=blockName)
    H1(class=`${blockName}__title`)= title
    UL(class=`${blockName}__list`)
      each number, index in numbers
        LI(class=`${blockName}__number`)
          +room(number)
    SECTION(class=`${blockName}__pagination`)
      +pagination(paginationOptions)
