include ../pagination/pagination.pug
include ../room/room.pug

//- 
  options.title
  options.numbers
  options.lastPage

mixin rooms(options = {})
  - const blockName = "rooms"

  DIV(class=blockName)
    H1(class=`${blockName}__title`)=options.title
    UL(class=`${blockName}__list`)
      each number, index in options.numbers
        LI(class=`${blockName}__number`)
          +room(number)
    DIV(class=`${blockName}__pagination`)
      +pagination({ 
        lastPage: options.lastPage, 
        description: `1 – ${options.numbers.length} из 100+ вариантов аренды` 
      })