include ../pagination/pagination.pug
include ../room/room.pug

//- 
  options.title
  options.numbers
  options.lastPage

mixin rooms(options = {})
  - const blockName = "rooms"
  DIV(class=blockName)
    H1(class=`${blockName}__title`)=options.title
    DIV(class=`${blockName}__list`)
      +rooms-list({ items: options.numbers })
    DIV(class=`${blockName}__pagination`)
      +pagination({ 
        lastPage: options.lastPage, 
        description: `1 – ${options.numbers.length} из 100+ вариантов аренды` 
      })

//- 
  options.items

mixin rooms-list(options = {})
  - const blockName = "rooms-list"
  UL(class=blockName)
    each item, index in options.items
      LI(class=`${blockName}__item`)
        +room(item)