//- 
  options.delaySec
  options.slides

mixin carousel(options = {})
  - const blockName = "carousel"
  DIV(
    class=blockName
    class=`js-${blockName}`
    data-delay=options.delaySec
  )
    DIV(
      class=`${blockName}__slide`
      class=`${blockName}__slide_current`
      class=`js-${blockName}__slide-current`
    )
    DIV(
      class=`${blockName}__slide`
      class=`${blockName}__slide_next`
      class=`js-${blockName}__slide-next`
    )
    DATALIST(class=`${blockName}__links`)
      each slide, index in options.slides
        OPTION(
          class=`${blockName}__link`
          class=`js-${blockName}__link`
          value=slide
        )