mixin carousel(options = {})
  - const blockName = "carousel";
  - const { delaySec, slides } = options;
  SECTION(
    class=blockName,
    class=`js-${blockName}`,
    data-delay=delaySec
  )
    FIGURE(
      class=`${blockName}__slide`,
      class=`${blockName}__slide_current`,
      class=`js-${blockName}-slide-current`
    )
    FIGURE(
      class=`${blockName}__slide`,
      class=`${blockName}__slide_next`,
      class=`js-${blockName}-slide-next`
    )
    DATALIST(class=`${blockName}__links`)
      each slide, index in slides
        OPTION(
          class=`${blockName}__link`,
          class=`js-${blockName}-link`,
          value=slide
        )
