mixin checkbox-group(checkbox, id)
  .checkbox-group
    if checkbox.checked
      input.checkbox-group__input(type='checkbox' id=id checked)
    else
      input.checkbox-group__input(type='checkbox' id=id)
    if checkbox.details
      label.checkbox-group__label(for=id)
        p.checkbox-group__label_name.checkbox-group__label_name_rich=checkbox.label
        p.checkbox-group__details=checkbox.details
    else
      label.checkbox-group__label.checkbox-group__label_name(for=id)=checkbox.label