include ../form-set/form-set.pug
include ../dropdown/dropdown.pug
include ../card/card.pug
include ../calendar/calendar.pug

//- 
  options.dateFrom
  options.dateTo
  options.isCalendarArrivalExpanded
  options.isCalendarDepartureExpanded
  options.calendarArrivalDateActivate
  options.calendarDepartureDateActivate
  options.dateFromTitle
  options.dateToTitle

mixin date-section(options = {})
  - const blockName = "date-section"
  DIV(
    class=blockName
    class=`js-${blockName}`
  )
    DIV(
      class=`${blockName}__set`
      class=`${blockName}__set_first`
    )
      +form-set({ title: options.dateFromTitle ? options.dateFromTitle : "Прибытие" })
        +dropdown({  
          name: `${options.name}-arrival`,
          type: "date",
          value: options.dateFrom ? options.dateFrom : "",
          isExpanded: options.isCalendarArrivalExpanded,
        })
          +card({ isMedium: true, isEmpty: true })
            +calendar({ 
              from: options.dateFrom ? options.dateFrom : "",
              to: options.dateTo ? options.dateTo : "",
              active: options.calendarArrivalDateActivate ? options.calendarArrivalDateActivate : "",
            })
    DIV(class=`${blockName}__set`)
      +form-set({ title: options.dateToTitle ? options.dateToTitle : "Выезд" })
        +dropdown({ 
          name: `${options.name}-departure`,
          type: "date",
          value: options.dateTo ? options.dateTo : "",
          isExpanded: options.isCalendarDepartureExpanded,
        })
          +card({ isMedium: true, isEmpty: true })
            +calendar({ 
              from: options.dateFrom ? options.dateFrom : "",
              to: options.dateTo ? options.dateTo : "",
              active: options.calendarDepartureDateActivate ? options.calendarDepartureDateActivate : "",
            })