include ../form-set/form-set.pug
include ../dropdown/dropdown.pug
include ../card/card.pug
include ../calendar/calendar.pug

//- 
  options.dateFrom
  options.dateTo
  options.isCalendarArrivalExpanded
  options.isCalendarDepartureExpanded
  options.calendarArrivalDateActivate
  options.calendarDepartureDateActivate
  options.dateFromTitle
  options.dateToTitle

mixin date-section(options = {})
  - const blockName = "date-section"
  - const { dateFromTitle, dateToTitle, name, dateFrom, dateTo, 
  -   isCalendarArrivalExpanded, isCalendarDepartureExpanded, 
  -   calendarArrivalDateActivate, calendarDepartureDateActivate } = options
  DIV(
    class=blockName
    class=`js-${blockName}`
  )
    DIV(
      class=`${blockName}__set`
      class=`js-${blockName}__set`
      class=`${blockName}__set_first`
    )
      +form-set({ title: dateFromTitle ? dateFromTitle : "Прибытие" })
        +dropdown({  
          name: `${name}-arrival`,
          type: "date",
          value: dateFrom ? dateFrom : "",
          isExpanded: isCalendarArrivalExpanded,
        })
          +card({ isMedium: true, isEmpty: true })
            +calendar({ 
              from: dateFrom ? dateFrom : "",
              to: dateTo ? dateTo : "",
              active: calendarArrivalDateActivate ? calendarArrivalDateActivate : "",
            })
    DIV(
      class=`${blockName}__set`
      class=`js-${blockName}__set`
    )
      +form-set({ title: dateToTitle ? dateToTitle : "Выезд" })
        +dropdown({ 
          name: `${name}-departure`,
          type: "date",
          value: dateTo ? dateTo : "",
          isExpanded: isCalendarDepartureExpanded,
          alignPanelRight: true,
        })
          +card({ isMedium: true, isEmpty: true })
            +calendar({ 
              from: dateFrom ? dateFrom : "",
              to: dateTo ? dateTo : "",
              active: calendarDepartureDateActivate ? calendarDepartureDateActivate : "",
            })