include ../widgets/widgets.pug
include ../copyright-bar/copyright-bar.pug
include ../logo/logo.pug
include ../copyright/copyright.pug
include ../socials/socials.pug

mixin footer(options = {})
  - const blockName = "footer";
  - const { asCard } = options;

  DIV(
    class=blockName,
    class=asCard ? `${blockName}_creative` : ""
  ) 
    if !asCard
      SECTION(class=`${blockName}__widgets`)
        +widgets
      DIV(class=`${blockName}__wrapper`)
        SECTION(class=`${blockName}__copyright-bar`)
          +copyright-bar
    else
      DIV(class=`${blockName}__logo`)
        +logo
      DIV(class=`${blockName}__copyright`)
        +copyright
      DIV(class=`${blockName}__socials`)
        +socials
