include ../widgets/widgets.pug
include ../copyright-bar/copyright-bar.pug
include ../logo/logo.pug
include ../copyright/copyright.pug
include ../socials/socials.pug

mixin footer(options = {})
  - const blockName = "footer";
  - const { asCard } = options;

  SECTION(
    class=blockName,
    class=asCard ? `${blockName}_creative` : ""
  )
    SECTION(class=`${blockName}__widgets`)
      +widgets
    DIV(class=`${blockName}__wrapper`)
      SECTION(class=`${blockName}__copyright-bar`)
        +copyright-bar
    P(class=`${blockName}__logo`)
      +logo
    SECTION(class=`${blockName}__copyright`)
      +copyright
    SECTION(class=`${blockName}__socials`)
      +socials
