mixin socials
  - const blockName = "socials"
  UL(class=blockName)
    each name, index in ["twitter", "facebook", "instagram"]
      LI(
        class=`${blockName}__item`
        class=index===0 ? `${blockName}__item_first` : ""
      )
        A(
          class=`${blockName}__link`
          class=`${blockName}__link_${name}`
          href="/mock-address/change-me"
          target="_blank"
        )=name