mixin socials
  - const blockName = "socials";
  -
    const list = [
      { name: "twitter", link: "https://twitter.com/" },
      { name: "facebook", link: "https://www.facebook.com/" },
      { name: "instagram", link: "https://www.instagram.com/" },
    ]

  UL(
    class=blockName,
    class=`js-${blockName}`
  )
    each item, index in list
      - const isFist = index === 0;
      LI(
        class=`${blockName}__item`,
        class=isFist ? `${blockName}__item_first` : ""
      )
        A(
          class=`${blockName}__link`,
          class=`${blockName}__link_name_${item.name}`,
          class=`js-${blockName}-link`,
          href=item.link,
          target="_blank",
          title=`Наша страница в ${item.name}`
          rel="noopener noreferrer"
        )= item.name
