mixin socials
  - const blockName = "socials";
  UL(class=blockName)
    each name, index in ["twitter", "facebook", "instagram"]
      - const isFist = index === 0;
      LI(
        class=`${blockName}__item`,
        class=isFist ? `${blockName}__item_first` : ""
      )
        A(
          class=`${blockName}__link`,
          class=`${blockName}__link_${name}`,
          href="/mock-address/change-me",
          target="_blank",
          title=`Наша страница в ${name}`
        )= name
