include ../nav-link/nav-link.pug

//- 
  options.isHead
  options.navLinks [
    { isDropdown, isHovered, link, text, name, list }
  ]

mixin nav-links(options = {})
  - const blockName = "nav-links"
  - const navLinks = options.navLinks ? options.navLinks : []
  UL(
    class=blockName
    class=options.isHead ? `${blockName}_head` : ""
  )
    each item, index in navLinks
      LI(
        class=`${blockName}__item`
        class=item.isDropdown ? `${blockName}__item_dropdown` : ""
        class=(index === 0) ? `${blockName}__item_first` : ""
      )
        +nav-link(item)