//-
  options.checked
  options.id
  options.name
  options.value
  options.label
  options.isToggle
  options.isLike

mixin check-button(options)
  - className = "check-button"
  if !options
    - options = {}
  else if options.isToggle 
    - className = "toggle"
  else if options.isLike 
    - className = "like-button"

  LABEL(
    class=className
    class=options.checked ? `${className}_checked` : ""
  )
    INPUT(
      class=`${className}__box`
      class=options.checked ? `${className}__box_checked` : ""
      id=options.id
      name=options.name ? options.name : options.id
      value=options.value ? options.value : options.id
      type="checkbox"
      checked=options.checked ? true : false
    )
    P(
      class=`${className}__label`
      class=options.checked ? `${className}__label_checked` : ""
      class=!(options.isToggle || options.isLike) ? "text_light_middle" : ""
      class=!options.isLike ? "text_rare_less" : ""
      for=options.id
    )=options.label ? options.label : options.value
    block