//-
  options.isChecked
  options.id
  options.name
  options.value
  options.label
  options.isToggle
  options.isLike
  options.details

mixin check-button(options)
  - let blockName = "check-button"
  if !options
    - options = {}
  else if options.isToggle 
    - blockName = "toggle"
  else if options.isLike 
    - blockName = "like-button"

  LABEL(
    class=blockName
    class=options.isChecked ? `${blockName}_checked` : ""
    class=options.details ? `${blockName}_rich` : ""
    for=options.id
  )
    INPUT(
      class=`${blockName}__box`
      class=`js-${blockName}__box`
      class=options.isChecked ? `${blockName}__box_checked` : ""
      id=options.id
      name=options.name ? options.name : options.id
      value=options.value ? options.value : options.id
      type="checkbox"
      checked=options.isChecked ? true : false
    )
    SPAN(
      class=`${blockName}__label`
      class=options.isChecked ? `${blockName}__label_checked` : ""
      class=!(options.isToggle || options.isLike) ? "text_light_middle" : ""
      class=!options.isLike ? "text_rare_less" : ""
    )=options.label ? options.label : options.value
      if options.details
        SPAN(
          class=`${blockName}__details`
        )=options.details
    block