//-
  options.isChecked
  options.id
  options.name
  options.value
  options.label
  options.isToggle
  options.isLike
  options.details

mixin check-button(options)
  - let className = "check-button"
  if !options
    - options = {}
  else if options.isToggle 
    - className = "toggle"
  else if options.isLike 
    - className = "like-button"

  LABEL(
    class=className
    class=options.isChecked ? `${className}_checked` : ""
    class=options.details ? `${className}_rich` : ""
  )
    INPUT(
      class=`${className}__box`
      class=options.isChecked ? `${className}__box_checked` : ""
      id=options.id
      name=options.name ? options.name : options.id
      value=options.value ? options.value : options.id
      type="checkbox"
      checked=options.isChecked ? true : false
    )
    P(
      class=`${className}__label`
      class=options.isChecked ? `${className}__label_checked` : ""
      class=!(options.isToggle || options.isLike) ? "text_light_middle" : ""
      class=!options.isLike ? "text_rare_less" : ""
      for=options.id
    )=options.label ? options.label : options.value
      if options.details
        P(
          class=`${className}__details`
        )=options.details
    block