include ../invoice-line/invoice-line.pug

mixin bill(options = {})
  - const blockName = "bill";
  - const { list = [], total } = options;

  DIV(class=blockName, class=`js-${blockName}`)
    UL(class=`${blockName}__list`)
      each item, index in list
        - const isFirst = index === 0;
        LI(
          class=`${blockName}__item`,
          class=isFirst ? `${blockName}__item_first` : ""
        )
          +invoice-line(item)
    H2(class=`${blockName}__total`)
      +invoice-line({ name: "Итого", price: total, withLine: true })
