include ../form-set/form-set.pug
include ../text-field/text-field.pug
include ../dropdown/dropdown.pug
include ../date-section/date-section.pug
include ../date-filter/date-filter.pug
include ../subscription/subscription.pug

mixin field-elements
  - const blockName = "field-elements";
  -
    const hoveredTextFieldOptions = {
      placeholder: "This is pretty awesome",
      isHovered: true,
      isFocused: true,
    }
    const dropdownOptions = {
      name: "guests-field",
      list: [
        { name: "Взрослые", category: "гость" },
        { name: "Дети", category: "гость" },
        { name: "Младенцы", category: "младенец" },
      ],
    }
    const maskedTextFieldOptions = {
      placeholder: "ДД.ММ.ГГГГ",
      isMasked: true,
    }
    const dateSectionOptions = {
      name: "dates-fields",
      dateTo: "2019-08-19",
      dateFromTitle: "Date dropdown",
      dateToTitle: "Date dropdown",
    }
    const dateFilterOptions = {
      name: "dates-field",
      dateFrom: "2019-08-19",
      dateTo: "2019-08-23",
    }
    const subscriptionTextFieldOptions = {
      placeholder: "Email",
      isDirected: true,
      name: "email",
      type: "email",
    }

  DIV(class=blockName)
    SECTION(
      class=`${blockName}__section`,
      class=`${blockName}__section_first`
    )
      +form-set({ title: "Text Field", details: "Default" })
        +text-field({ placeholder: "Email", type: "email" })
    SECTION(class=`${blockName}__section`)
      +form-set({ title: "Text Field", details: "Hover / Focus" })
        +text-field(hoveredTextFieldOptions)
    SECTION(class=`${blockName}__section`)
      +form-set({ title: "Dropdown" })
        +dropdown(dropdownOptions)
    SECTION(class=`${blockName}__section`)
      +form-set({ title: "Masked Text Field" })
        +text-field(maskedTextFieldOptions)
    SECTION(
      class=`${blockName}__section`,
      class=`${blockName}__section_rarefied`
    )
      +date-section(dateSectionOptions)
    SECTION(
      class=`${blockName}__section`,
      class=`${blockName}__section_rarefied`,
      class=`${blockName}__section_short`
    )
      +form-set({ title: "Filter Date Dropdown" })
        +date-filter(dateFilterOptions)
    SECTION(
      class=`${blockName}__section`,
      class=`${blockName}__section_rarefied`,
      class=`${blockName}__section_short`
    )
      +form-set({ title: "Subscription Text Field" })
        +subscription
          +text-field(subscriptionTextFieldOptions)
