include ../checkbox-group/checkbox-group.pug
include ../radio-group/radio-group.pug
include ../toggle-group/toggle-group.pug
include ../like/like.pug
include ../rate/rate.pug

mixin check-section(section)
  .check-section
    .check-section__title= section.title
    if section.type == 'checkbox'
      each checkbox, index in section.checks
        +checkbox-group(`${section.id}_${index}`, checkbox)
    else if section.type == 'radio'
      .radio-group
        each radio, index in section.checks
          +radio-group(section.id, `${section.id}_${index}`, radio)
    else if section.type == 'toggle'
      each toggle, index in section.checks
        .toggle-group
        +toggle-group(`${section.id}_${index}`, toggle)
    else if section.type == 'like'
      .check-section_row
        each like, index in section.checks
          +like(`${section.id}_${index}`, like)
    else
      .check-section_row
        .rate
          each rate, index in section.checks
            +rate(section.id, `${section.id}_${index}`, rate)
        if section.demo
          .rate
            each rate, index in section.demo
              +rate(`demo_${section.id}`, `demo_${section.id}_${index}`, rate)