include ../room-section/room-section
include ../extra-list/extra-list
include ../comment/comment
include ../bullet-list/bullet-list
include ../chart/chart

mixin room-info
  - const blockName = "room-info";
  -
    const extraListOptions = {
      items: [
        {
          title: "Комфорт",
          details: "Шумопоглощающие стены",
          icon: "insert_emoticon",
        },
        {
          title: "Удобство",
          details: "Окно в каждой из спален",
          icon: "location_city",
        },
        {
          title: "Уют",
          details: "Номер оснащён камином",
          icon: "whatshot",
        },
      ],
    }
    const chartOptions = [
      { label: "Великолепно", value: 130 },
      { label: "Хорошо", value: 65 },
      { label: "Удовлетворительно", value: 65 },
      { label: "Разочарован" },
    ]
    const reviewRoomSectionOptions = {
      title: "Отзывы посетителей номера",
      details: "2 отзыва",
      isEmpty: true,
    }
    const likedCommentOptions = {
      username: "Мурад Сарафанов",
      avatar: "../assets/images/murad.jpg",
      datetime: "5 дней назад",
      message: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
      likeValue: 12,
      isLiked: true,
    }
    const commentOptions = {
      username: "Патрисия Стёклышкова",
      avatar: "../assets/images/patricia.jpg",
      datetime: "Неделю назад",
      message: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент",
      likeValue: 2,
    }
    const bulletListOptions = {
      items: [
        "Нельзя с питомцами",
        "Без вечеринок и мероприятий",
        "Время прибытия — после 13:00, а выезд до 12:00",
      ],
    }

  DIV(class=blockName)
    SECTION(
      class=`${blockName}__section`,
      class=`${blockName}__section_first`,
      class=`${blockName}__section_grouped`
    )
      SECTION(
        class=`${blockName}__subsection`,
        class=`${blockName}__subsection_first`
      )
        +room-section({ title: "Сведения о номере" })
          +extra-list(extraListOptions)
      SECTION(class=`${blockName}__subsection`)
        +room-section({ title: "Впечатления от номера" })
          +chart(chartOptions)
    SECTION(class=`${blockName}__section`)
      +room-section(reviewRoomSectionOptions)
        .room-section__item.room-section__item_first
          +comment(likedCommentOptions)
        .room-section__item
          +comment(commentOptions)
    SECTION(
      class=`${blockName}__section`,
      class=`${blockName}__section_last`,
      class=`${blockName}__section_grouped`
    )
      SECTION(
        class=`${blockName}__subsection`,
        class=`${blockName}__subsection_first`
      )
        +room-section({ title: "Правила", isShifted: true })
          +bullet-list(bulletListOptions)
      SECTION(class=`${blockName}__subsection`)
        +room-section({ title: "Отмена" })
          P= "Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги."
