//- 
  options.main
  options.details

mixin card-title(options)
  - const blockName = "card-title"
  if !options
    - options = {}
  
  if (typeof options) === "string"
    DIV(class=blockName)=options
  else
    DIV(class=blockName)
      DIV(class=`${blockName}__main`)
        +card-title-main(options.main)
      if (options.details)
        DIV(class=`${blockName}__details`)
          +card-title-details(options.details)

//- 
  options.prefix
  options.content
  options.postfix
  options.isShiftedPostfix

mixin card-title-main(options)
  - const blockName = "card-title-main"
  if !options
    - options = {}

  DIV(class=blockName)
    if options.prefix
      SPAN(class=`${blockName}__prefix`)=options.prefix
    SPAN(class=`${blockName}__content`)=options.content
    if options.postfix
      SPAN(
        class=`${blockName}__postfix`
        class=options.isShiftedPostfix ? `${blockName}__postfix_shifted` : ""
      )=options.postfix

//- 
  options.first
  options.second

mixin card-title-details(options)
  - const blockName = "card-title-details"
  if !options
    - options = {}

  DIV(class=blockName)
    SPAN(class=`${blockName}__first`)=options.first
    if options.second
      SPAN(class=`${blockName}__second`)=options.second