extends layout

block variables
  - var title = 'TOXIN'
  - var descr = 'Верстка макета TOXIN по второму заданию FSD'

block content
    ul.pages
      li.pages_type= 'Website Pages'
        ul.pages_list
          li.pages_name
            a.pages_link(href='website/landing-page-1.html')= 'Landing page'
      li.pages_type= 'UI-KIT'
        ul.pages_list
          li.pages_name
            a.pages_link(href='ui-kit/colors-and-type.html')= 'Colors & Type'
          li.pages_name
            a.pages_link(href='ui-kit/form-elements.html')= 'Form Elements'
          li.pages_name
            a.pages_link(href='ui-kit/cards.html')= 'Cards'
          li.pages_name
            a.pages_link(href='ui-kit/headers-and-footers.html')= 'Headers & Footers'