mixin room-section(options = {})
  - const blockName = "room-section"
  - const { isShifted, title, details, isEmpty } = options

  DIV(class=blockName)
    H2(
      class=`${blockName}__title`
      class=isShifted ? `${blockName}__title_shifted` : ""
    )=title
      if details
        SPAN(class=`${blockName}__details`)=details
    if isEmpty
      block
    else
      DIV(class=`${blockName}__content`)
        block