mixin like-btn(props)
  .like-btn(class=props.checked ? " like-btn_checked" : "")
    input.like-btn__box(
      id=props.id
      name=props.name ? props.name : props.id
      value=props.value
      type="checkbox"
      checked=props.checked ? true : false
      class=props.checked ? " like-btn__box_checked" : ""
    )
    label.like-btn__label(
      for=props.id
      class=props.checked ? " like-btn__label_checked" : ""
    )=props.value