include ../form-set/form-set.pug
include ../dropdown/dropdown.pug

mixin dropdowns(param)
  - const blockName = "dropdowns";
  if (param === "full-set")
    -
      const dropdownOptions = {
        name: "guests-1",
        isExpanded: true,
        withControl: true,
        list: [
          { name: "взрослые", category: "гость" },
          { name: "дети", category: "гость" },
          { name: "младенцы", category: "младенец" },
        ],
      }
    SECTION(class=blockName)
      SECTION(
        class=`${blockName}__section`,
        class=`${blockName}__section_first`,
        class=`${blockName}__section_greedy_2`
      )
        +form-set({ title: "Dropdown" })
          +dropdown(dropdownOptions)
  else if (param === "full-set-example")
    -
      const dropdownOptions = {
        name: "guests-2",
        isExpanded: true,
        withControl: true,
        list: [
          { name: "взрослые", count: 2, category: "гость" },
          { name: "дети", count: 1, category: "гость" },
          { name: "младенцы", category: "младенец" },
        ],
      }
    SECTION(class=blockName)
      SECTION(
        class=`${blockName}__section`,
        class=`${blockName}__section_first`,
        class=`${blockName}__section_greedy_2`
      )
        +form-set({ title: "Dropdown" })
          +dropdown(dropdownOptions)
  else
    -
      const defaultDropdownOptions = {
        name: "amenities-1",
        list: [
          { name: "Спальни", count: 2, category: "спальня" },
          { name: "Кровати", count: 2, category: "кровать" },
          { name: "Ванные комнаты", category: "ванная" },
        ],
      }
      const expandedDropdownOptions = {
        name: "amenities-2",
        isExpanded: true,
        list: [
          { name: "Спальни", count: 2, category: "спальня" },
          { name: "Кровати", count: 2, category: "кровать" },
          { name: "Ванные комнаты", category: "ванная" },
        ],
      }
    SECTION(class=blockName)
      SECTION(
        class=`${blockName}__section`,
        class=`${blockName}__section_first`,
        class=`${blockName}__section_short`
      )
        +form-set({ title: "Dropdown", details: "Default" })
          +dropdown(defaultDropdownOptions)
      SECTION(
        class=`${blockName}__section`,
        class=`${blockName}__section_greedy_1`,
        class=`${blockName}__section_short`
      )
        +form-set({ title: "Dropdown", details: "Expanded" })
          +dropdown(expandedDropdownOptions)
