mixin link(options = {})
  - const blockName = "link";
  - const { isHovered, link, text } = options;

  A(
    class=blockName,
    class=isHovered ? `${blockName}_hovered` : "",
    href=link
    title=text
  )= text
