//-
  options.id
  options.values

mixin slider(options)
  - const className = "slider"
  if !options
    - options = {}

  DIV(
    class=className
  )
    DIV(
      class=`${className}__slot`
    )
      DIV(
        class=`${className}__root`
        id=options.id
        data-values=options.values
      )